<footer class=" w-100">
  <div class="row text-center text-white mt-5">
    <!-- Location Section -->
    <div class="col-4 mb-5">
      <h2>LOCATION</h2>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>

    <!-- Social Media Section -->
    <div class="col-4 mb-5">
      <h2>AROUND THE WEB</h2>
      <div class="social flex-wrap d-flex justify-content-center align-items-center">
        <i class="fa-brands rounded-pill fa-facebook fs-5 m-2"></i>
        <i class="fa-brands rounded-pill fa-twitter fs-5 m-2"></i>
        <i class="fa-brands rounded-pill fa-linkedin fs-5 m-2"></i>
        <i class="fa-solid rounded-pill fa-globe fs-5 m-2"></i>
      </div>
    </div>

    <!-- About Section -->
    <div class="col-4 mb-5">
      <h2>ABOUT FREELANCER</h2>
      <p>Freelance is a free-to-use, licensed Bootstrap theme created by Route.</p>
    </div>
  </div>

  <!-- Copyright Section -->
  <div class="copyrite">
    <p class="fs-5 mb-0">Copyright © Your Website 2021</p>
  </div>
</footer>
