<section>
  <div class="container w-50">
    <div class="head text-center">
      <h1 class="fw-bold text-black text-center mt-3">CONTACT SECTION</h1>
      <app-star-lineblack></app-star-lineblack>
    </div>
      <div class="form-floating mb-5 mt-5">
        <input type="text" class="form-control" id="floatingInput" placeholder="UserName">
        <label for="floatingInput">UserName:</label>
        </div>

        <div class="form-floating mb-5">
        <input type="number" class="form-control" id="floatingInput" placeholder="UserAge">
        <label for="floatingInput">UserAge</label>
        </div>

        <div class="form-floating mb-5">
        <input type="email" class="form-control" id="floatingInput" placeholder="UserEmail">
        <label for="floatingInput">UserEmail</label>
        </div>

        <div class="form-floating mb-5">
        <input type="password" class="form-control" id="floatingInput" placeholder="UserPassword">
        <label for="floatingInput">UserPassword</label>
        </div>
        <button class="btn btn-success">Send Message</button>

  </div>
</section>
