<nav class="navbar navbar-expand-lg position-fixed top-0 start-0 end-0 z-2">
  <div class="container p-2">
    <a class="navbar-brand fw-bolder fs-3 text-white" routerLink="/home">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item m-2">
          <a class="nav-link text-white fw-bold" routerLink="/about" routerLinkActive="router-link-active">ABOUT</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link text-white fw-bold" routerLink="/portfolio" routerLinkActive="router-link-active">PORTFOLIO</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link text-white fw-bold" routerLink="/products" routerLinkActive="router-link-active">PRODUCT</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link text-white fw-bold" routerLink="/contact" routerLinkActive="router-link-active">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

