<section>
  <div class="container vh-100 d-flex justify-content-center align-items-center flex-column">
  <h1 class="text-white fw-bold">ABOUT COMPONTNET</h1>
  <app-star-line></app-star-line>
      <div class="row mt-4">
          <div class="col-md-6 text-white">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>

          <div class="col-md-6 text-white">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
      </div>
  </div>
</section>
