<section>
  <div class="container vh-100 d-flex justify-content-center align-items-center flex-column">

      <div class="row mt-4 text-center  d-flex align-items-center justify-content-center">
        <div class="w-25">
          <img src="avataaars.svg" class="w-100" alt="">
        </div>
        <h1 class="text-white fw-bold">START FRAMEWORK</h1>
        <app-star-line></app-star-line>
        <p class="mt-2 text-white">Graphic Artist - Web Designer - Illustrator</p>
      </div>
  </div>
</section>
